.App {
    /* background-color: yellow; */
    /* display: 'flex'; */
    /* margin-bottom: 100px; */
    margin: 300px;
    /* justify-Content: 'center';  */
    /* align-Items: 'center'; */
    /* width: '20%'; */
    /* height: "100vh"; */
    /* flex-direction: 'column'; */
    /* gap: 15; */
    /* margin: 0 auto; */
}

.sty {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    font-size: 25px;
    height: 9vh;
    width: 350px;
}