.card2 {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    max-width: 800px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    background-color: grey;
    margin-top: 50px;
    padding: 8px;
    background-color: #395B64;
    border-radius: 10px;
    /* color: blue; */
  }
  
.title {
    color: black;
    font-size: 18px;
  }
  

.price{
  margin: 5px;
}